{% extends 'accounts/main.html' %}

{% block content %}
       <br>



<div class="row">
    <div class="col-md">
        <div class="card card-body">


                <h5 class="'card"> Total Orders</h5>
                <hr>
                <a class="btn btn-outline-info btn-sm btn-block" href="">Update Customer </a>
                <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'create_form' customer.id %}">Place Order </a>

        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5> contact infomation</h5>
            <hr>
            <p>Email: {{ customer.email }}</p>
            <p>PhoneNumber: {{ customer.phone }}</p>
        </div>
    </div>

    <div class = "col-md">
        <div class="card card-body">
            <h5 style="text-align: center;padding: 10px">total orders</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{ total_count }}</h1>
        </div>
    </div>
</div>


<br>




<div class="row">
    <div class="col">
        <div class="card card-body" >
            <form method="get">

                {{ myFilter.form }}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>price</th>
                    <th>category</th>
                    <th>date ordered</th>
                    <th>status</th>
                    <th>note</th>
                    <th>update</th>
                    <th>remove</th>
                </tr>

                {% for order in orders %}
                    <tr>
                        <td>
                            {{ order.product.price }}
                        </td>
                        <td>
                            {{ order.product.category }}
                        </td>

                        <td>
                            {{ order.product.date_create }}
                        </td>

                        <td>
                            {{ order.status }}
                        </td>
                        <td>
                            {{ order.note }}
                        </td>

                        <td>
                            <a class="btn btn-sm btn-info" href="{% url 'update_form' order.id %}">Update</a>
                        </td>
                         <td>
                            <a class="btn btn-sm btn-danger" href="{% url 'delete_form' order.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{%  endblock %}